* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* Container */
.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.container1 {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1110px;
}

.head_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 11px 0px;
}

.nav_list {
    display: flex;
    gap: 32px;
}


.header_block {
    background-color: #1E1E1E;
}


.nav_link {
    color: white;
    transition: 0.3s linear;
}

.nav_link:hover {
    color: #F76600;
    text-decoration: underline;
    transition: 0.3s linear;
    text-underline-offset: 2px;
}

.phone_list>li {
    position: relative;
    padding-bottom: 8px;

}



.phone_list>ul:last-child {
    padding-bottom: 0px;
}

.phone_list>li::before {
    content: url(./img/smartphone.svg);
    position: absolute;
    top: -4px;
    left: -22px;
}

.call_numb {
    color: white;
}

.phone_list {
    list-style: none;
}

.call_butt {
    color: white;
    padding: 14px 20px;
    background-color: #CA3D00;
    border-radius: 7px;
    font-size: 16px;
}

.banner {
    background-image: url(./img/banner_back.svg);
    background-position: center;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
}

.banner_block {
    max-width: 760px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
}

.banner_ad {
    padding-top: 116px;
}


.title_ad {
    color: white;
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 54px;
}

.orang {
    color: #F76600;
    font-weight: 700;
}

.banner_content {
    padding: 30px 40px 50px 20px;
}


.banner_button {
    color: white;
    background: #CA3D00;
    border-radius: 7px;
    padding: 14px 36px 14px 28px;
    position: relative;
}

.banner_button::after {
    content: url(./img/link_arrow.svg);
    position: absolute;
    top: 18px;
    right: 19px;
}


.service {
    background-image: url(./img/service_back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pp {
    padding: 14px 46px 14px 46px
}

.service_block {
    display: flex;
    align-items: center;
    padding: 99px 0px 124px 0px;
}

.serv_title {
    font-size: 34px;
    line-height: 40px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 32px;
}

.serv1_p,
.serv2_p {
    position: relative;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    padding-left: 20px;
    color: #000000;
}

.sp_b_o {
    color: #F76600;
    font-weight: 700;
}

.serv1_p::before {
    content: url(./img/clock_icon_128908\ 1.svg);
    position: absolute;
    left: -10px;
}

.serv1_p {
    margin-bottom: 20px;
}

.serv2_p {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
}

.serv2_p::before {
    content: url(./img/delivery.svg);
    position: absolute;
    left: -19px;
}

.serv_but {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #CA3D00;
    border-radius: 7px;
    padding: 14px 62px;
    position: relative;
}

.serv_but::after {
    content: url(./img/link_arrow.svg);
    position: absolute;
    top: 14px;
    right: 46px;

}

.footer {
    background-color: #1E1E1E;
}

.form_block {
    max-width: 255px;
}


.text_map {
    max-width: 248px;
}

.text_map p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}


.text_map a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #F76600;
}

.cont2 {
    display: flex;
    align-items: center;
}

.form_block img {
    margin-bottom: 20px;

}

.or_label {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    color: #F76600;
}

.form {
    margin-top: 18px;
    max-width: 255px;
}

input {
    background: #FFFFFF;
    border-radius: 7px;
    padding: 10px 0px 10px 13px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #000000;
    margin-bottom: 17px;
}

.sub_but {
    background: #CA3D00;
    border-radius: 7px;
    width: 75%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    padding: 15px 0px;
    color: #FFFFFF;
}

.cont1 {
    display: flex;
}

.or_label:nth-child(1) {
    margin-bottom: 20px;
}

.regions {
    margin-top: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */


    color: #FFFFFF;
}

.footer_content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.sub_but {
    position: relative;
}

.sub_but::after {
    content: url(./img/link_arrow.svg);
    position: absolute;
    top: 15px;
    right: 38px;

}

.burger-menu {
    display: none;
}

.head_content {
    position: relative;
}

.menu_adaptiv {
    width: 100%;
    height: 100vh;
    background-color: #1E1E1E;
    position: absolute;
    z-index: 2;
    display: none;
    position: fixed;

}



.logo_b {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.top_menu {
    padding-top: 25px;
}

.close {
    position: absolute;
    top: 20px;
    right: 22px;
    cursor: pointer;
}

.footer_content {
    padding-bottom: 50px;
}

/* Adaptiv */

/* Header */
@media(max-width:1005px) {
    .bn {
        display: none;
    }
}

@media(max-width:854px) {

    .navig,
    .call_butt {
        display: none;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .container1 {
        max-width: 800px;
        margin: 0 auto;
    }

    .head_content {
        justify-content: space-between;
    }
}

/* BANNER */
@media(max-width:776px) {
    .title_ad {
        font-size: 27px;
    }
}

@media(max-width:421px) {
    .title_ad {
        font-size: 20px;
        line-height: 36px;
    }
}

/* ADS */
@media(max-width:1035px) {
    .service_block {
        display: flex;
        flex-direction: column;
    }

    .serv_title {
        text-align: center;
    }
}

@media(max-width:606px) {
    .notebook_img {
        width: 80%;
    }

}

.db {
    display: block;
}

.ls {
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
}

.ls>li {
    padding-bottom: 15px;
}

.dn {
    display: none;
}

@media(max-width:537px) {
    .serv_title {
        max-width: 300px;
        margin: 0 auto;
    }

    .serv1_p,
    .serv2_p {
        font-size: 30px;
        line-height: 40px;
    }

}


@media(max-width:440px) {

    .serv1_p,
    .serv2_p {
        font-size: 20px;
        line-height: 30px;
    }
}

@media(max-width:1088px) {
    .footer_content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 450px;
    }

    .cont2 {
        margin-top: 40px;
    }
}


@media(max-width:478px) {
    .cont2 {
        flex-direction: column-reverse;
    }

}

@media(max-width:417px) {
    .frame_map {
        width: 250px;
        height: 150px;
    }
}

@media(max-width:393px) {
    .cont1 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .sub_but {
        margin-bottom: 30px;
    }
}


/* get call */

body #bingc-phone-button svg.bingc-phone-button-circle circle.bingc-phone-button-circle-inside {
    fill: #CA3D00 !important;
}

body #bingc-phone-button div.bingc-phone-button-tooltip {
    background: #CA3D00 !important;
}

body #bingc-phone-button div.bingc-phone-button-tooltip svg.bingc-phone-button-arrow polyline {
    fill: #CA3D00 !important;
}

body #bingc-phone-button:hover svg.bingc-phone-button-circle circle.bingc-phone-button-circle-inside {
    fill: #CA3D00 !important;
}



body #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form a.bingc-passive-phone-form-button {
    background: #CA3D00 !important;
}

body #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form a.bingc-passive-phone-form-button:hover {
    background: #CA3D00 !important;
}

body #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form a.bingc-passive-phone-form-button {
    background: #CA3D00 !important;
}

body #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form a.bingc-passive-phone-form-button:hover {
    background: #CA3D00 !important;
}

body #bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-active-get-phone-form form.bingc-active-get-phone-form a.bingc-active-phone-form-button {
    background: #CA3D00 !important;
}

body #bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-active-get-phone-form form.bingc-active-get-phone-form a.bingc-active-phone-form-button:hover {
    background: #CA3D00 !important;
}


body #bingc-passive div.bingc-passive-overlay
div.bingc-passive-content div.bingc-we-will-call-you b{
color: #CA3D00 !important;
}

body #bingc-passive div.bingc-passive-overlay div.bingc-passive-content
div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form
span.bingc-sample-countdown-timer{
color: #CA3D00 !important;
}
body #bingc-passive div.bingc-passive-overlay div.bingc-passive-content
div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form
span.bingc-sample-countdown-timer span{
color: #CA3D00 !important;
}
body #bingc-active div.bingc-active-overlay div.bingc-active-content
div.bingc-active-get-phone-form form.bingc-active-get-phone-form
span.bingc-sample-countdown-timer{
color: #CA3D00 !important;
}
body #bingc-active div.bingc-active-overlay div.bingc-active-content
div.bingc-active-get-phone-form form.bingc-active-get-phone-form
span.bingc-sample-countdown-timer span{
color: #CA3D00 !important;
}


body #bingc-passive div.bingc-passive-overlay div.bingc-passive-content
div.bingc-we-already-call-you{
color: #CA3D00 !important;
}
body #bingc-passive div.bingc-passive-overlay div.bingc-passive-content
div.bingc-passive-countdown-timer {
color: #CA3D00 !important;
}
body #bingc-active div.bingc-active-overlay div.bingc-active-content
div.bingc-active-countdown-timer{
color: #CA3D00 !important;
}
body #bingc-active div.bingc-active-overlay div.bingc-active-content
div.bingc-we-already-call-you{
color: #CA3D00 !important;
}